<ul>
<li>Source-code:<br />
    <i class="fa fa-git"></i>
    <a target="_blank" href="{{ node['networq:git:repository']['url'] }}">Repository URL</a>
</li>
<li>Visibility:<br />
    {{ node['networq:git:repository']['visibility'] }}
</li>
<li>License:<br />
    {{ node['networq:git:repository']['license'] }}
</li>

</ul>